@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
.form-wrap {
  font-family: 'Montserrat', sans-serif;
  padding: 80px 0;
  color: #021252; }
  .form-wrap form {
    position: relative; }
    .form-wrap form .form-block {
      visibility: hidden;
      display: none;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
      grid-template-columns: minmax(220px, 340px) minmax(450px, 1fr);
      grid-gap: 70px;
      padding-bottom: 50px; }
      .form-wrap form .form-block .left-col h1 {
        font-size: 42px;
        line-height: 51px;
        margin-bottom: 25px;
        max-width: 277px; }
      .form-wrap form .form-block .left-col .subtitle {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 30px; }
      .form-wrap form .form-block .left-col .steps-wrap {
        width: 220px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 15px;
        overflow: hidden; }
        .form-wrap form .form-block .left-col .steps-wrap .step {
          width: 38px;
          height: 38px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          border-radius: 50%;
          border: 1px solid #021252;
          font-size: 18px;
          font-weight: bold;
          background: #FFF;
          position: relative; }
        .form-wrap form .form-block .left-col .steps-wrap .step:not(:last-child):after {
          content: '';
          width: 100px;
          height: 1px;
          display: inline-block;
          position: absolute;
          top: 50%;
          z-index: -1;
          background: #021252;
          left: 0; }
        .form-wrap form .form-block .left-col .steps-wrap .step.active {
          border: 0;
          color: #fff;
          background: #FF5CE3;
          border: 1px solid #FF5CE3; }
      .form-wrap form .form-block .left-col .steps-wrap + p {
        font-weight: bold; }
        .form-wrap form .form-block .left-col .steps-wrap + p a {
          color: #021252; }
      .form-wrap form .form-block .right-col .question {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-bottom: 40px;
        position: relative;
        /* All the same stuff for Firefox */
        /* All the same stuff for IE */
        /* Track */ }
        .form-wrap form .form-block .right-col .question input[type='radio'] {
          opacity: 0;
          display: none; }
        .form-wrap form .form-block .right-col .question input[type='radio']:checked + label {
          font-weight: bold; }
        .form-wrap form .form-block .right-col .question h4 {
          margin-bottom: 15px;
          font-size: 18px;
          font-weight: 700;
          -webkit-transition: 0.2s;
          -o-transition: 0.2s;
          transition: 0.2s; }
        .form-wrap form .form-block .right-col .question h4.wrong-field {
          color: red;
          -webkit-transition: 0.2s;
          -o-transition: 0.2s;
          transition: 0.2s; }
        .form-wrap form .form-block .right-col .question label {
          cursor: pointer;
          margin-bottom: 10px;
          font-size: 18px;
          font-weight: normal; }
        .form-wrap form .form-block .right-col .question input[type='text'] {
          border: 1px solid #021252;
          height: 39px;
          padding-left: 20px;
          padding-right: 20px;
          max-width: 100%;
          font-size: 14px;
          font-family: 'Montserrat', sans-serif;
          font-weight: 500;
          width: 100%; }
        .form-wrap form .form-block .right-col .question input[type='text']::-webkit-input-placeholder {
          color: #021252;
          font-family: 'Montserrat', sans-serif; }
        .form-wrap form .form-block .right-col .question input[type='text']::-moz-placeholder {
          color: #021252;
          font-family: 'Montserrat', sans-serif; }
        .form-wrap form .form-block .right-col .question input[type='text']:-ms-input-placeholder {
          color: #021252;
          font-family: 'Montserrat', sans-serif; }
        .form-wrap form .form-block .right-col .question input[type='text']::-ms-input-placeholder {
          color: #021252;
          font-family: 'Montserrat', sans-serif; }
        .form-wrap form .form-block .right-col .question input[type='text']::placeholder {
          color: #021252;
          font-family: 'Montserrat', sans-serif; }
        .form-wrap form .form-block .right-col .question textarea {
          border: 1px solid #021252;
          resize: none;
          height: 98px;
          padding: 10px;
          font-family: 'Montserrat', sans-serif; }
        .form-wrap form .form-block .right-col .question input[type="file"] {
          opacity: 0;
          position: relative; }
        .form-wrap form .form-block .right-col .question .form-control-label {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          position: relative;
          height: 49px;
          width: 115px;
          max-width: 100%;
          background: #fff;
          border: 1px solid #021252; }
        .form-wrap form .form-block .right-col .question .form-control-label.active {
          min-height: 49px;
          min-width: 115px;
          width: 100%;
          height: 100%; }
        .form-wrap form .form-block .right-col .question #summernote {
          height: 200px; }
        .form-wrap form .form-block .right-col .question .buttons {
          display: grid;
          grid-template-columns: 150px 150px;
          grid-gap: 20px;
          margin-bottom: 20px; }
          .form-wrap form .form-block .right-col .question .buttons a {
            border: 1px solid #021252;
            background: none;
            height: 39px;
            line-height: 39px;
            font-size: 10px;
            text-align: center;
            cursor: pointer;
            color: #021252; }
        .form-wrap form .form-block .right-col .question .field-date {
          display: grid;
          grid-template-columns: repeat(2, minmax(100px, 188px));
          grid-gap: 20px; }
          .form-wrap form .form-block .right-col .question .field-date label {
            padding: 3px 18px;
            font-size: 10px;
            border: 1px solid #021252;
            font-weight: bold;
            margin-bottom: 0; }
            .form-wrap form .form-block .right-col .question .field-date label input {
              border: 0;
              padding: 0;
              height: 25px; }
        .form-wrap form .form-block .right-col .question input[type='range'] {
          -webkit-appearance: none;
          margin-top: 40px;
          width: 100%; }
        .form-wrap form .form-block .right-col .question input[type=range]::-webkit-slider-thumb {
          -webkit-appearance: none;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          background: #021252;
          cursor: pointer;
          margin-top: -10px; }
        .form-wrap form .form-block .right-col .question input[type=range]::-moz-range-thumb {
          -webkit-appearance: none;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          background: #021252;
          cursor: pointer; }
        .form-wrap form .form-block .right-col .question input[type=range]::-ms-thumb {
          -webkit-appearance: none;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          background: #021252;
          cursor: pointer; }
        .form-wrap form .form-block .right-col .question input[type=range]::-webkit-slider-runnable-track {
          width: 100%;
          height: 1px;
          cursor: pointer;
          background: #3071a9; }
        .form-wrap form .form-block .right-col .question input[type=range]:focus::-webkit-slider-runnable-track {
          background: #367ebd; }
        .form-wrap form .form-block .right-col .question input[type=range]::-moz-range-track {
          width: 100%;
          height: 1px;
          cursor: pointer;
          background: #3071a9;
          border-radius: 1.3px; }
        .form-wrap form .form-block .right-col .question input[type=range]::-ms-track {
          width: 100%;
          height: 1px;
          cursor: pointer;
          background: transparent;
          border-color: transparent;
          color: transparent; }
        .form-wrap form .form-block .right-col .question input[type=range]::-webkit-slider-runnable-track {
          height: 1px; }
        .form-wrap form .form-block .right-col .question input[type=range]::-moz-range-track {
          height: 1px; }
        .form-wrap form .form-block .right-col .question input[type=range]::-ms-track {
          height: 1px; }
      .form-wrap form .form-block .right-col .question-9 label {
        position: relative; }
        .form-wrap form .form-block .right-col .question-9 label .min-val {
          position: absolute;
          left: 0;
          font-size: 14px;
          font-weight: bold;
          bottom: -30px; }
        .form-wrap form .form-block .right-col .question-9 label .max-val {
          position: absolute;
          right: 0;
          font-size: 14px;
          font-weight: bold;
          bottom: -30px; }
      .form-wrap form .form-block .right-col .question-11 label {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        font-size: 14px;
        margin-bottom: 16px;
        font-weight: bold; }
        .form-wrap form .form-block .right-col .question-11 label input {
          margin-top: 15px;
          margin-bottom: 10px; }
      .form-wrap form .form-block .right-col .question-11 label:first-of-type {
        margin-top: 15px; }
      .form-wrap form .form-block .right-col .add_more {
        color: #FF5CE3;
        font-weight: bold; }
      .form-wrap form .form-block .right-col button[type="submit"],
      .form-wrap form .form-block .right-col .next-step {
        width: 143px;
        height: 66px;
        border: 1px solid #FF5CE3;
        font-weight: bold;
        color: #FF5CE3;
        background: none;
        font-size: 18px;
        cursor: pointer; }
      .form-wrap form .form-block .right-col .error-alert {
        opacity: 0;
        color: red;
        font-weight: bold;
        position: relative;
        top: -20px;
        font-size: 18px; }
      .form-wrap form .form-block .right-col .error-alert.active {
        opacity: 1; }
    .form-wrap form .form-block.active {
      visibility: visible;
      display: grid;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }

* {
  outline: none; }

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1080px; }

body {
  margin: 0; }

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

@media screen and (max-width: 1200px) {
  .form-wrap form .form-block .left-col h1 {
    font-size: 36px;
    line-height: 40px; }
  .form-wrap form .form-block .left-col .subtitle {
    font-size: 16px;
    line-height: 18px; }
  .form-wrap form .form-block {
    grid-gap: 40px; } }

@media screen and (max-width: 991px) {
  .form-wrap form .form-block .left-col h1 {
    font-size: 24px;
    line-height: 28px; } }

@media screen and (max-width: 768px) {
  .form-wrap form .form-block {
    grid-template-columns: repeat(1, 1fr); } }

@media screen and (max-width: 576px) {
  .form-wrap form .form-block .right-col .question .buttons {
    grid-template-columns: 150px;
    grid-gap: 20px; } }
