@media screen and (max-width: 1200px) {
    .form-wrap form .form-block .left-col h1 {
        font-size: 36px;
        line-height: 40px;
    }

    .form-wrap form .form-block .left-col .subtitle {
        font-size: 16px;
        line-height: 18px;
    }

    .form-wrap form .form-block {
        grid-gap: 40px;
    }
}

@media screen and (max-width: 991px) {
    .form-wrap form .form-block .left-col h1 {
        font-size: 24px;
        line-height: 28px;
    }
}


@media screen and (max-width: 768px) {
    .form-wrap form .form-block {
        grid-template-columns: repeat(1, 1fr);
    }
}


@media screen and(max-width: 576px) {
    .form-wrap form .form-block .right-col .question .buttons {
        grid-template-columns: 150px;
        grid-gap: 20px;
    }
}